@font-face {
  font-family: 'iconfont';  /* project id 939859 */
  src: url('//at.alicdn.com/t/font_939859_zussmcybk4k.eot');
  src: url('//at.alicdn.com/t/font_939859_zussmcybk4k.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_939859_zussmcybk4k.woff') format('woff'),
  url('//at.alicdn.com/t/font_939859_zussmcybk4k.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_939859_zussmcybk4k.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
